body{	
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	margin: 0;
	font-family: "Open Sans";
}

*{
	-webkit-tap-highlight-color: transparent;
}

h1, h2, h3, h4, h5, h6 { /*reset for mobile browsers */
	font-weight: normal;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: lightgrey;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

.wrapper{
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.navbar{
	height: 50px;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: #33673E;
	display: flex;
	justify-content: space-around;
	align-items: center;
	overflow: hidden;
	z-index: 2000;
}

.header{
	color: white;
	font-family: 'Raleway', sans-serif;
	user-select: none;
	font-size: 2rem;
	margin: 0;
}

.info{
	font-family: 'Raleway', sans-serif;
	height: 100vh;
	width: 100vw;
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 5vh 5vh 15vh 5vh;
	box-sizing: border-box;
	overflow-y: scroll;
	z-index: 50000;
	background: white;
	color: black;
    word-wrap: break-word;
    display: none;
}

.infoClose{
	position: fixed;
	bottom: 5vh;
	left: 50%;
	transform: translateX(-50%);
	user-select: none;
	cursor: pointer;
	background: rgb(66, 133, 244); 
	border: 5px solid rgb(66, 133, 244);
	border-radius: 15px;
	color: white;
	padding: 1rem;
	z-index: 9999999999999999;
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
	text-transform: uppercase;
	white-space: nowrap;
}

.foodContainer{
	height: calc(100vh - 50px);
	width: 100vw;
	position: absolute;
	left: 0;
	top: 50px;
	overflow-y: auto;
}

.foodScroller{
	padding: 0;
	padding-bottom: 50px;
	display: flex;
	align-content: center;
	justify-content: space-around;
	flex-direction: column;
	overflow: hidden;
	transition: transform .1s ease-in-out;
}

.day{
	width: 100vw;
	margin: 0;
	padding: 1rem;
	box-sizing: border-box;
	position: relative;
}

.day-1, .day-3, .day-5{
	background-color: #fff;
}

.day-2, .day-4{
	background-color: #FAFAF5;
}

.dayHeader{
	line-height: 2rem;
	font-size: 1.5rem;
}

.course{
	line-height: 1.25rem;
	font-size: 1rem;	
}

.course-normal{
	font-weight: bold;
	color: #333;
}

.course-vego, .course-extra{
	color: #555;
}

.today{
	animation: giveColor .3s ease-in-out;
	background-color: #bbb;
}

@keyframes giveColor{
	from{background-color: #fff;}
	to{background-color: #bbb;}
};

.desktopSchema{
	display: none;
}

.control{
	display: none;
}

#schema{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
}

.loader-main{
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: #33673E;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	z-index: 2000000;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 1000px) {

	body{
		background-size: cover;
		background-position: center;
	}

	.foodContainer{
		height: auto;
	}

	.foodScroller{
		flex-direction: row;
		padding: 0;
	}

	.control{
		display: inherit;
		cursor: pointer;
	}
}