body{	
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	margin: 0;
	font-family: "Open Sans";
}

*{
	-webkit-tap-highlight-color: transparent;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: lightgrey;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

.wrapper{
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.navbar{
	height: 50px;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: #33673E;
	display: flex;
	justify-content: space-around;
	align-items: center;
	overflow: hidden;
	z-index: 2000;
}

.header{
	color: white;
	font-family: 'Raleway', sans-serif;
	user-select: none;
	font-size: 2rem;
	margin: 0;
}

.info{
	font-family: 'Raleway', sans-serif;
	height: 100vh;
	width: 100vw;
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 5vh 5vh 15vh 5vh;
	box-sizing: border-box;
	overflow-y: scroll;
	z-index: 50000;
	background: white;
	color: black;
    word-wrap: break-word;
    display: none;
}

.infoClose{
	position: fixed;
	bottom: 5vh;
	left: 50%;
	transform: translateX(-50%);
	user-select: none;
	cursor: pointer;
	background: rgb(66, 133, 244); 
	border: 5px solid rgb(66, 133, 244);
	border-radius: 15px;
	color: white;
	padding: 1rem;
	z-index: 9999999999999999;
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
	text-transform: uppercase;
	white-space: nowrap;
}

.foodContainer{
	height: calc(100vh - 50px);
	width: 100vw;
	position: absolute;
	left: 0;
	top: 50px;
	overflow-y: auto;
}

.foodScroller{
	padding: 0;
	padding-bottom: 50px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	overflow: hidden;
	transition: transform .1s ease-in-out;
}

.day{
	width: 100vw;
	margin: 0;
	padding: 1rem;
	box-sizing: border-box;
	position: relative;
}

.day-1, .day-3, .day-5{
	background: #fff;
}

.day-2, .day-4{
	background: #FAFAF5;
}

.dayHeader{
	line-height: 2rem;
	font-size: 1.5rem;
}

.course{
	line-height: 1.25rem;
	font-size: 1rem;	
}

.course-normal{
	font-weight: bold;
	color: #333;
}

.course-vego, .course-extra{
	color: #555;
}

.desktopSchema{
	display: none;
}

@media only screen and (min-width: 1000px) {

	.foodContainer{
		height: auto;
	}

	.foodScroller{
		flex-direction: row;
		padding: 0;
	}

	.desktopSchema{
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100vw;
		overflow: hidden;
		border: 0;
	}

}